# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#emacs tilde files
*~

#emacs backup files
\#* 
*#
.#*

# Left around by patch
*.orig
*.rej



