# crypto.cfg 
# Copyright (c) 2013-2014 Ross Biro
# This configuration file describes the crypto systems available to mover.
#
#   This program is free software: you can redistribute it and/or
#   modify it under the terms of the GNU General Public License as
#   published by the Free Software Foundation, version 3 of the
#   License.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#   General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program.  If not, see
#   <http://www.gnu.org/licenses/>.
#
#

otp= {
     key-desc= { key-file= {type=file, default=<+otp-%lu.dat>},
     	       	 key-bits={type=number, default=16384}},
     key-name=key-file
     use-once= true,
     key-format= raw,
     encrypt=<$app-binary-path>/xor - <$key-file>
     decrypt=<$app-binary-path>/xor - <$key-file>
     genkey= <$app-binary-path>/otp --generate=<$key-bits> --linux_random_device=/dev/urandom --sysrand_paths_clear --sysrand_paths=/dev/urandom <>><$key-file>
},

gpg= {
     key-desc= { key-name= { type=string, default=<+Key%lu>}, 
     	       key-file= {type=file, default=gpg-keyring},
	       key-bits= {type=number, default=2048},
	       },
     key-format= pem,
     encrypt= gpg --encrypt --batch --recipient <$key-name> --keyring <$key-file> --no-default-keyring --yes --always-trust,
     decrypt= gpg --decrypt --batch --keyring <$key-file> --no-default-keyring,
     genkey= echo -e 'Key-Type: default\\n Key-Length:<$key-bits>\\n Name-Real:<$key-name>\\n Subkey-Type:default\\n Subkey-Length:<$key-bits>\\n <?temporary:--no-protection>\\n%commit\\n' | gpg --gen-key --batch --keyring <$key-file> --no-default-keyring,
     export-public= gpg --batch --no-default-keyring --keyring <$key-file> --export -a <$key-name>,
     import-public= gpg --batch --no-default-keyring --keyring <$key-file> --import
     delete-public= gpg --batch --no-default-keyring --keyring <$key-file> --delete-key <$key-name>
     delete-private= gpg --batch --no-default-keyring --keyring <$key-file> --delete-secret-key <$key-name>
     get-key-name = "\"([a-zA-Z0-9 ]+)(\"|\\()"
     key-name-group-no = 0
     
}

openssl= {
     key-desc= { key-file= {type=file, default=<+openssl-key-%lu>.pem} 
	       	 key-bits= {type=number, default=2048},
	       },
     key-name=key-file,
     key-format= pem,
     encrypt= openssl pkeyutl -encrypt -inkey <$key-file> -pubin,
     decrypt= openssl pkeyutl -decrypt -inkey <$key-file>,
     genkey= openssl genpkey -algorithm rsa -outform PEM -pkeyopt rsa_keygen_bits:<$key-bits> -out <$key-file>
     export-public: openssl rsa -in <$key-file> -pubout
}
